<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">


<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-static-top navbar-inverse bg-primary" style="border-radius:0px;">
  <a class="navbar-brand" href="/home">TutorApp</a>
  <ul class = "navbar-nav">
    <li class = "list-unstyled nav-item">
      <a class = "nav-link" href = "/home">Home</a>
    </li>
    <li class = "list-unstyled nav-item">
      <a class = "nav-link" href = "/students">Tutors</a>
    </li>
    <li class = "list-unstyled nav-item">
      <a class = "nav-link" href = "/login">Log In/Sign Up</a>
    </li>
  </ul>
</nav>

<br><br>

<router-outlet></router-outlet>
