<div class="container">
  <div class="row" *ngFor="let student of students">
    <div class="card card-block">
      <h4 class="card-title">{{ student.name }}</h4>
      <p class="card-text">{{ student.year }}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>


<div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" [(ngModel)]="this.student.name" name = "name">
                        <input type = "text" class = "form-control input-lg text-center" [(ngModel)] = "this.student.year" name = "year">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" (click)="postStudent(this.student)">Add</button>
                </form>
            </div>
        </div>
