<div class = "container">
  <form>
    <div class = "input-group">
      <input type = "text" class = "form-control" placeholder = "Search Tutors" />
      <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
          Search
          </button>
      </div>
    </div>
  </form>
 </div>

 <br><br>
<!--
<div class="container">
  <div class="row" *ngFor="let student of students; let i = index">
    <div class="card card-block">
      <h4 class="card-title">{{ student.firstName }} {{ student.lastName}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ student.school }}, {{ student.major}}, {{ student.year }}</h6>
      <p class="card-text">This will be bio text listing the subjects this student/tutor is willing to tutor, as well as a brief introduction to them.
      Additional database work is needed to determine exactly what information this will entail, though it is likely to include hours available and preferred
      rates.</p>
      <a href="#" class="card-link">View Full Profile</a>
      <a href="#" class="card-link">Message</a>

      <button type = "submit" class = "btn btn-primary" (click) = "deleteStudent(this.students[i])">Delete</button>

    </div>
  </div>
</div> -->

<div class = "container">
  <div class = "row" *ngFor = "let student of students | async">
    <div class = "card card-block">
      <h4 class = "card-title">{{ student.name }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ student.school }}, {{ student.major}}, {{ student.year }}</h6>
      <p class="card-text">{{ student.bio }}</p>
      <a href="#" class="card-link">View Full Profile</a>
      <a href="#" class="card-link">Message</a>
    </div>
  </div>
</div>
