<div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>

    <button (click)="auth.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>

    <div *ngIf="auth.user | async as user">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <img class = "rounded float-right" [src]="user.photoURL" style="width:100px;height:100px;">
        <p>{{ user.year }} {{ user.major }} major at {{ user.school }} </p>
        <p> Bio: <br>
        <textarea name = "bio" [(ngModel)] = "this.bio" rows = "5" cols = "100"></textarea>
        <button class = "btn btn-primary" (click)="updateBio()">Update Bio</button>
        </p>
        <button class = "btn btn-primary" (click)="auth.signOut()">Logout</button>
    </div>
</ng-template>
